*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:
    "Helvetica Neue",
    Arial,
    sans-serif;

}


/* ================= HEADER ================= */


.header{

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 80px;

    z-index:10;

    color:white;

}


.logo{

    font-size:20px;

    letter-spacing:4px;

    font-weight:400;

    line-height:1.2;

}



.nav{

    display:flex;

    gap:30px;

}



.nav a{

    color:white;

    text-decoration:none;

    font-size:16px;

}



.header-btn{

    color:white;

    text-decoration:none;

    border:1px solid rgba(255,255,255,0.8);

    padding:14px 30px;

}




/* ================= HERO ================= */


.hero{


    height:100vh;


    min-object-fit:cover;



    background-image:

    linear-gradient(

    rgba(0,0,0,0.45),

    rgba(0,0,0,0.45)

    ),


    url("../assets/images/hero/hero-villa-interior.png");



    background-size:cover;


    background-position:center;



    background-repeat:no-repeat;



    display:flex;


    align-items:center;


    padding-left:80px;



}



.hero-content{


    max-width:600px;


    color:white;


}



/* 删除大标题效果 */

.hero h1{


    font-size:24px;


    font-weight:300;


    line-height:1.5;


    margin-bottom:20px;


    max-width:400px;


}



/* 两段文字统一大小 */


.hero p{


    font-size:20px;


    font-weight:300;


    line-height:1.5;


    margin-bottom:20px;


    max-width:400px;


}



/* 按钮 */


.buttons a{


    display:inline-block;


    padding:16px 35px;


    margin-right:20px;


    text-decoration:none;


    font-size:16px;


}



.btn-primary{


    background:white;


    color:#222;


}



.btn-secondary{


    border:1px solid white;


    color:white;


}



/* ================= MOBILE ================= */


@media(max-width:900px){

    
/* ================= ABOUT US ================= */


.about{

    text-align:center;

}


.about .section-title{

    text-align:center;

}


.about .section-text{

    max-width:700px;

    margin:0 auto;

    text-align:center;

    line-height:1.9;

    font-size:17px;

    color:#555;

}
    .header{

        padding:0 25px;

    }



    .nav{

        display:none;

    }



    .hero{


        padding-left:30px;


        padding-right:30px;


    }



    .hero h1{


        font-size:24px;


    }



    .hero p{


        font-size:22px;


    }



    .buttons a{


        display:block;


        margin-bottom:15px;


        text-align:center;


    }


}
